<body>
    <div class="center">
        <div class="jumbotron bg-info">
            <div class="container">
                <h4 class="display-5 text-center">Welcome to the Instrument Warehouse</h4>

                <h4 class="lead text-center">Please select an option from the navigation bar above</h4>

                <img src="https://wallpaperaccess.com/full/2039813.jpg" class="img-fluid text-center" alt="Responsive image">
            </div>
        </div>
    </div>
</body>